<!-- Hero Section -->
<section id="hero" class="hero section light-background">

  <img src="assets/img/hero-bg.jpg" alt="" data-aos="fade-in">

  <div class="container position-relative">

    <div class="welcome position-relative" data-aos="fade-down" data-aos-delay="100">
      <h2>"WELCOME TO KLINIK HAMAMI"</h2>
      <p>Klinik Hamami Palembang</p>
    </div><!-- End Welcome -->

    <div class="content row gy-4">
      <div class="col-lg-4 d-flex align-items-stretch">
        <div class="why-box" data-aos="zoom-out" data-aos-delay="200">
          <h3>Why Choose Klinik Hamami?</h3>
          <p>
            Klinik Hamami adalah pilihan tepat bagi mereka yang mengutamakan kualitas pelayanan kesehatan. 
            Dengan didukung oleh tenaga medis yang profesional dan berpengalaman, klinik ini berkomitmen memberikan perawatan terbaik kepada setiap pasien. 
            Klinik Hamami memiliki fasilitas yang dirancang untuk memastikan kenyamanan dan keamanan selama proses pemeriksaan maupun pengobatan.
          </p>
          <div class="text-center">
            <a href="#about" class="more-btn"><span>Learn More</span> <i class="bi bi-chevron-right"></i></a>
          </div>
        </div>
      </div><!-- End Why Box -->

      <div class="col-lg-8 d-flex align-items-stretch">
        <div class="d-flex flex-column justify-content-center">
          <div class="row gy-4">

            <div class="col-xl-4 d-flex align-items-stretch">
              <div class="icon-box" data-aos="zoom-out" data-aos-delay="300">
                <i class="bi bi-clipboard-data"></i>
                <h4>Fasilitas</h4>
                <p>- Unit Gawat Darurat (UGD)</p>
                <p>- Poliklinik</p>
                <p>- Kamar Operasi</p>
                <p>- Laboratorium</p>
                <p>- Rawat Inap</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="col-xl-4 d-flex align-items-stretch">
              <div class="icon-box" data-aos="zoom-out" data-aos-delay="400">
                <i class="bi bi-gem"></i>
                <h4>Dokter Yang Tersedia</h4>
                <p>- Dokter Umum: Menangani berbagai masalah kesehatan umum dan memberikan rujukan ke spesialis jika diperlukan.</p>
                <p>- Dokter Spesialis Kandungan (Obgyn): memberikan perawatan terkait kesehatan reproduksi, mulai dari pemeriksaan rutin kehamilan, 
                  pemeriksaan kesehatan organ reproduksi, hingga penanganan masalah infertilitas</p>
                <p>- Dokter Spesialis Anak (Pediatri): Menangani kesehatan anak-anak dari bayi hingga remaja.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="col-xl-4 d-flex align-items-stretch">
              <div class="icon-box" data-aos="zoom-out" data-aos-delay="500">
                <i class="bi bi-inboxes"></i>
                <h4>Fasilitas Tambahan</h4>
                <p>- Kafe atau Kantin: Tempat bagi pasien, keluarga, dan staf rumah sakit untuk makan dan bersantai.</p>
                <p>- Area Bermain Anak: bagi anak-anak yang menunggu atau menemani keluarga mereka.</p>
                <p>- Ruang Tunggu yang Nyaman: yang dilengkapi dengan kursi yang nyaman, televisi, dan bahan bacaan.</p>
                <p>- mushola : Tempat bagi pasien dan keluarga untuk berdoa </p>
              </div>
            </div><!-- End Icon Box -->

          </div>
        </div>
      </div>
    </div><!-- End  Content-->

  </div>

</section><!-- /Hero Section -->
<!-- End Hero Section -->
<app-add-appointment></app-add-appointment>
<app-list-appointment></app-list-appointment>
<!-- <app-list-book></app-list-book> -->
